/* Provide sufficient contrast against white background */
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

