

body {
   background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 120px;
    
  }


.card-form{
    border-style: none;
    max-width: 600px;
    max-height: 800px;
}

  .container {
    justify-content: center;
    align-items: center;
    box-shadow: inherit;
  
    }

.box {
  
    margin-top: 100px;
  
 }


a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color:aqua;
    border-color: blue;
}